.InfoSectionWrap {
    background-color: whitesmoke;
}

.WhyInsulate {
    color: #000000;
    background-color: whitesmoke;
    padding: 50px 100px;
    padding-left: 10%;
    padding-top: 8vh;
    padding-bottom: 6vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 2048px;
}

.WhyInsulateTitle {
    font-size: 42px;
    font-weight: bold;
    position: relative;
    display: block;
    width: 45%;
    line-height: 1;
    margin: 0;
}

.WhyInsulateTitle::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 175px;
    height: 7px;
    background-color: #007037;
}

.WhyInsulateText {
    font-size: 18px;
    line-height: 1.5;
    width: 50%;
    text-align: left;
    position: relative;
    right: 0;
    padding-right: 4%;
    margin: 0;
}

.ServiceButton {
    margin-top: 15px;
    padding: 15px 30px;
    background-color: black;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.ServiceButton:hover {
    background-color: #007037;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 800px) {
    .WhyInsulate {
        flex-direction: column;
        padding: 20px;
        align-items: flex-start;
        margin-bottom: 3vh;
    }

    .WhyInsulateTitle {
        font-size: 37px;
    }
    .WhyInsulateTitle,
    .WhyInsulateText {
        width: 100%;
        text-align: left;
    }

    .WhyInsulateText {
        position: relative;
        margin-top: 65px;
        padding-right: 0;
    }

    .ServiceButton {
        margin-top: 20px;
    }
}
