/* .contact-section {
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
    padding-top: 6em;
    padding-bottom: 9em;
    background-color: whitesmoke;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section h2 {
    margin-top: 0;
    color: black;
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 500;
}
.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.contact-form {
    flex: 1;
    min-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 2px solid #007037; 
    box-shadow: 0 0 5px rgba(0, 112, 55, 0.5);
    caret-color: black; 
    outline: none; 
}


.submit-button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto; 
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #007037;
}

#left-align a {
    font-size: 1.15em;
}

#left-align {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
}

.direct-contact-container {
    flex: 1;
    margin-left: 100px;
    padding: 50px;
    box-sizing: border-box;
}

.contact-list .list-item,
.social-media-list li {
    display: flex;
    align-items: center;
    font-weight: 100;
    width: 100%;
}

.contact-list {
    display: flex;
    font-size: 22px !important;
    line-height: 1;
    text-decoration: none;
    font-weight: 0 !important;
    flex-direction: column;
    align-items: center;
}

.social-media-list {
    justify-content: center;
    position: relative;
}

.contact-wrapper {
    display: flex;
}

.form-container,
.direct-contact-container {
    flex-basis: 45%;
}

.contact-list .list-item,
.social-media-list li {
    display: flex;
    align-items: center;
    width: 100%;
}

.list-item {
    line-height: 3;
    color: #007037;
}

.contact-list .list-item i {
    margin-right: 10px;
    font-size: 22px;
    color: #007037;
    transition: color 0.3s ease, transform 0.3s ease; 
}

.contact-list .list-item:hover i {
    color: black; 
    transform: scale(1.1); 
}

.contact-text {
    letter-spacing: 1.9px;
    color: black;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: black;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #007037;
    text-decoration: none;
}

#sendMessageInfo {
    color: black;
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

.social-media-list {
    position: relative;
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 11px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px black;
    transition: all 0.2s ease-in-out;
}

.contact a {
    text-decoration: none;
}

.social-media-list li:hover {
    background-color: black;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list a:hover li {
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .contact-section {
        padding-bottom: 5em;
    }
    .content-container {
        flex-direction: column;
        align-items: center;
    }
    .contact-form {
        min-width: 600px;
        max-width: 600px;
    }
    .social-media-list {
        display: none;
    }
}

@media screen and (max-width: 902px) {
    .contact-section {
        padding-bottom: 6em;
    }
    .contact-section h2 {
        margin-top: 10px;
    }

    .header {
        font-size: 40px;
    }
    .content-container {
        flex-direction: column;
        align-items: center;
    }
    .contact-form {
        min-width: 400px !important;
        max-width: 400px !important;
    }
    .direct-contact-container,
    .social-media-list {
        display: block;
        width: 100%;
        margin-top: 20px;
        padding: 0;
        box-sizing: border-box;
        line-height: 1;
    }
    .social-media-list {
        line-height: 1;
        display: none;
        flex-direction: row;
        justify-content: center;
    }

    .contact-list {
        font-size: 24px !important;
    }
}

@media screen and (max-width: 569px) {
    .projectsTitle {
        font-size: 2.7em !important;
    }
    .header {
        font-size: 40px;
    }
    .content-container {
        flex-direction: column;
        align-items: center;
    }
    .contact-form {
        min-width: 365px !important;
        max-width: 365px !important;
    }

    .direct-contact-container,
    .social-media-list {
        display: block;
        width: 100%;
        margin-top: 20px;
        box-sizing: border-box;
    }
    .social-media-list {
        display: none;
        flex-direction: row;
        justify-content: center;
    }

    .contact-list {
        font-size: 15px !important;
    }
} */
