/* .About img {
    width: 40%;
    padding-left: 20px;
}



.aboutInfo {
    display: flex;
    flex-direction: column;
}

.aboutInfoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px 0;
}

.aboutInfoSection:nth-child(odd) {
    flex-direction: row-reverse;
}

.aboutInfoSection:nth-child(even) {
    flex-direction: row;
}


.aboutInfoSection img {
    width: 50%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.aboutInfoSection img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.aboutInfoSection p {
    font-size: 1.1em;
    padding: 0 20px;
}


.infoSubheading {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 1.9em;
    text-align: center;
    color: #007037; 
}

#AboutImageHeading {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.6em;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-weight: 300;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.imageSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}


.imageSection {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.imageSection img {
    width: 100%;
    object-fit: cover;
    object-position: center top; 
    display: block; 
}

.aboutInfo {
    padding-bottom: 2em;
}

.About {
    background-color: whitesmoke;
    color: black;
    padding: 50px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin: auto;
    padding-bottom: 2em;
    padding-top: 2em;
}

#aboutSubheading {
    font-weight: 200;
    font-size: 2.5em;
}

#aboutCenter {
    padding-top: 1em;
    color: black;
    font-size: 3.5em;
    font-weight: 50;
    text-align: center;
    width: 48%;
    line-height: 1.1;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0.1em;
}

.textContentWrap {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContent {
    background-color: whitesmoke;
    text-align: left;
    justify-content: center;
    width: 80%;
    margin: 0;
    padding: 0;
}

.textContent p {
    font-size: 1.1em;
}

.textContent img {
    width: 45%;
    height: auto;
}

.AboutTextWrap {
    display: flex;
    flex-direction: column;
}

.About p,
.About h1 {
    font-size: 1.2em;
    margin: 0 0 20px;
}

.aboutInfo {
    color: black;
}

.About h1 {
    font-size: 36px;
}

@media (max-width: 1950px) {
    .textContentWrap {
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
        margin: 0;
    }
    .textContent {
        width: 100%;
    }

    #AboutImageHeading {
        font-size: 3.5em;
    }
}

@media (max-width: 900px) {
    .textContentWrap {
        width: 100%;
    }
    .textContent {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 15px; 
    }
    #aboutCenter {
        width: 78%;
        font-size: 2.7em;
        margin-bottom: 0;
    }
    #AboutImageHeading {
        font-size: 3em;
        top: 60%;
    }
    #aboutSubheading {
        font-size: 2em;
    }
    .textContent {
        flex-direction: column;
        align-items: center;
    }

    .About {
        flex-direction: column;
        align-items: center;
    }
    .About h1 {
        text-align: center;
    }

    .About img {
        width: 70%;
        margin-left: 0;
        padding-right: 0;
    }
    .textContent img {
        width: 100%;
        margin-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 900px) {
    .imageSection {
        height: 60vh; 
    }

    .imageSection img {
        height: 100%; 
        object-fit: cover; 
        object-position: center top; 
    }

    .aboutInfo {
        padding-bottom: 2em;
    }

    .textContent {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 2em;
    }

    .About {
        flex-direction: column;
        align-items: center;
    }
    .textContent {
        flex-direction: column;
        align-items: center;
    }
    .About h1 {
        text-align: center;
    }

    .textContent img {
        width: 100%;
        margin-left: 0;
    }

    .aboutInfoSection:nth-child(odd) {
        flex-direction: column;
    }

    .aboutInfoSection:nth-child(even) {
        flex-direction: column;
    }

    .aboutInfoSection {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 50px 0;
    }

    .aboutInfoSection img {
        width: 90%; 
        height: auto;
        margin-bottom: 20px;
        padding-left: 0; 
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }

    .aboutInfoSection p {
        width: 90%;
        padding: 0 15px;
        margin: 0 auto;
    }
    #AboutImageHeading {
        font-size: 2.5em;
        top: 60%;
    }

    .About {
        padding-left: 25px;
        padding-right: 25px;
    }
    #aboutCenter {
        width: 98%;
    }
}

@media (max-width: 480px) {
    .aboutInfo {
        padding-bottom: 2em;
    }

    .aboutInfoSection p {
        width: 100%;
    }
    .aboutInfoSection img {
        width: 90%; 
        height: auto;
        margin-bottom: 20px;
        padding-left: 0;
        padding-right: 0; 
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box; 
    }
    .textContentWrap {
        padding: 0;
        margin: 0;
    }

    #AboutImageHeading {
        font-size: 2em;
        top: 50%;
    }
} */