/* .overlap {
    background-image: url("../assets/reviewsBG1.jpg");
    background-position-y: 150%;
    background-size: cover;
    background-position-x: 50%;
    position: relative;
}
#experienceBanner {
    color: #f8edeb;
    display: flex;
    flex-direction: row;
    padding: 2em;
    padding-top: 8em;
    padding-bottom: 3em;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.countupSmall {
    z-index: 2;
    padding-left: 6em;
    padding-right: 6em;
}

.countupIcon {
    z-index: 2;
    padding-bottom: 4px;
    padding-top: 10px;
    font-size: 2.2em;
}

.countup {
    z-index: 2;
    font-size: 2.6em;
    font-weight: 500;
    line-height: 1.2;
}

.countupSubheading {
    z-index: 2;
    font-weight: 500;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.2;
}

.smallQuote {
    z-index: 2;
    width: 25%;
}

#smallQuoteHeading {
    z-index: 2;
    text-align: left;
    font-size: 1em;
    padding-bottom: 15px;
}

#smallQuoteText {
    z-index: 2;
    font-size: 1.6em;
    font-weight: 500;
    text-align: left;
}

@media (min-width: 200px) and (max-width: 567px) {
    #experienceBanner {
        flex-direction: column;
        padding-bottom: 0em;
        padding-top: 3.5em;
    }
    .smallQuote {
        display: none;
    }

    .mobileSpacer {
        padding-bottom: 13px;
    }
    .countupSmall {
        padding-left: 2em;
        padding-right: 2em;
    }

    .countupIcon {
        font-size: 1.8em;
        margin-right: 5px;
    }

    .countup {
        font-size: 2.1em;
        line-height: 1.1;
    }

    .countupSubheading {
        line-height: 0.4;
        font-size: 1.5em;
        padding-bottom: 40px;
    }

    #smallQuoteHeading {
        z-index: 2;
        text-align: left;
        font-size: 1.1em;
        padding-bottom: 15px;
    }

    #smallQuoteText {
        z-index: 2;
        font-size: 1.5em;
        font-weight: 500;
        text-align: left;
    }
}

@media (min-width: 568px) and (max-width: 924px) {
    .smallQuote {
        display: none;
    }

    #experienceBanner {
        padding-bottom: 2.5em;
    }

    .countupSmall {
        padding-left: 3em;
        padding-right: 3em;
    }

    .countupIcon {
        font-size: 2m;
        padding-right: 8px;
    }

    .countup {
        font-size: 2.7em;
        line-height: 1.2;
        padding-bottom: 0;
    }

    .countupSubheading {
        line-height: 1.5;
        font-size: 1.6em;
    }

    #smallQuoteHeading {
        z-index: 2;
        text-align: left;
        font-size: 1.1em;
        padding-bottom: 15px;
    }

    #smallQuoteText {
        z-index: 2;
        font-size: 1.5em;
        font-weight: 500;
        text-align: left;
    }
}

@media (min-width: 925px) and (max-width: 1550px) {
    #experienceBanner {
        padding-bottom: 1em;
    }

    .countupSmall {
        padding-left: 3em;
        padding-right: 3em;
    }

    .countupIcon {
        font-size: 1.8em;
    }

    .countup {
        font-size: 2.5em;
        line-height: 1.2;
        padding-bottom: 0;
    }

    .countupSubheading {
        line-height: 1.5;
        font-size: 1.4em;
    }

    .smallQuote {
        z-index: 2;
        width: 42%;
    }

    #smallQuoteHeading {
        z-index: 2;
        text-align: left;
        font-size: 0.9em;
        padding-bottom: 15px;
    }

    #smallQuoteText {
        z-index: 2;
        font-size: 1.4em;
        font-weight: 500;
        text-align: left;
    }
} */
