@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  .overarching {
    overflow-x: hidden;
    width: 100%;
  }  

body footer {
    z-index: 9999;
    position: relative;
    bottom: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overarching {
    position: relative;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
.light-text {
    font-weight: 300;
}

.regular-text {
    font-weight: 400;
}

.bold-text {
    font-weight: 700;
}

body {
    line-height: 1.5;
    font-size: 100%;
    font-family: "Lato", sans-serif;
    background: white;
    color: black;
    background-color: whitesmoke;
    /* background-color: rgb(19, 19, 19); */
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
